---
import { FaArrowRight } from "react-icons/fa6";
import FormattedDate from "./FormattedDate.astro";
import ImageComp from "./ImageComp.astro";
const { id, data } = Astro.props;
const { title, description, heroImage, pubDate } = data;
const datePublished = new Date(pubDate);
---

<a
  href={`/blog/${id}`}
  class="group flex w-full flex-col gap-3 overflow-hidden rounded-2xl bg-white p-4 shadow-lg"
>
  <div class="relative shrink-0 overflow-hidden rounded-2xl">
    <ImageComp
      src={heroImage}
      alt={title}
      classes="w-full h-full object-cover aspect-[4/3] group-hover:scale-125 duration-500"
    />
  </div>
  <div class="flex h-full flex-col justify-between gap-3 p-1">
    <div class="flex h-full flex-col justify-between gap-3">
      <div class="flex flex-col gap-3">
        <div class="flex items-center justify-between">
          <p class="text-sm tracking-wide text-gray-500">
            <FormattedDate date={datePublished} />
          </p>
        </div>
        <h3 class="font-display line-clamp-2 text-xl font-semibold">
          {title}
        </h3>
        <p class="line-clamp-4 text-sm text-gray-600 lg:text-base">
          {description}
        </p>
      </div>
      <button class="btn-tertiary text-primary-500 cursor-pointer !px-0 !py-0"
        >Read More<FaArrowRight
          className="text-primary-500 duration-500 group-hover:translate-x-1"
        /></button
      >
    </div>
  </div>
</a>
