---
const today = new Date();
import { Image } from "astro:assets";
import highTideLogo from "../assets/high-tide-aviation-logo-gradation.png";
import { FaPhone } from "react-icons/fa";
import { MdEmail } from "react-icons/md";
import { IoLocationSharp } from "react-icons/io5";
import {
  FACEBOOK_URL,
  PHONE_NUMBER,
  ADDRESS_LINE_1,
  ADDRESS_LINE_2,
  AIRPORT,
} from "../consts.ts";
import { navbarLinks } from "../data/navbarLinks";
import ImageComp from "./ImageComp.astro";
import { INSTAGRAM_URL } from "../consts.ts";
import { FaHelicopter } from "react-icons/fa6";
---

<footer class="bg-primary-50/50 text-accent-500">
  <div class="mx-auto max-w-7xl px-4 lg:px-12">
    <div class="flex flex-col justify-between gap-5 pt-20 pb-8 lg:flex-row">
      <p class="font-display text-3xl font-semibold lg:text-4xl">
        Start Your Flight Training Today
      </p>
      <a href="#contactUs" class="btn-primary group">
        <FaHelicopter className="duration-300 group-hover:-translate-y-1" />
        Contact Us
      </a>
    </div>
    <div
      class="border-accent-500 grid justify-between gap-8 border-y border-dashed py-8 md:grid-cols-2 lg:grid-cols-[4fr_1fr_1.5fr_0.7fr_1.3fr]"
    >
      <div class="flex flex-col gap-5">
        <a class="w-fit" href="/">
          <ImageComp
            src="/src/assets/truflight-logo.avif"
            alt="TruFlight Academy Logo"
            classes="h-20 w-fit"
          />
        </a>
        <p class="text-accent-500 max-w-lg text-sm font-medium tracking-wider">
          TruFlight Academy is the premier helicopter flight school in Dallas,
          Texas, offering professional helicopter training, private and
          commercial pilot programs, external load instruction, and discovery
          flights. Our experienced CFIs and modern Cabri G2 helicopters provide
          safe, effective, and personalized flight instruction for beginners and
          certified pilots alike. We also offer helicopter rentals, on-site
          student housing, and mobile training at private airports or
          residences, making it easy to pursue your aviation goals. Start your
          journey in rotorcraft aviation today and experience the thrill of
          flying with TruFlight Academy.
        </p>
        <div class="flex gap-3">
          <a
            href={FACEBOOK_URL}
            target="_blank"
            class="border-accent-400 group hover:bg-primary-500 hover:border-primary-500 rounded-full border p-2 duration-500"
          >
            <span class="sr-only">Facebook</span>
            <svg
              class="size-5 duration-500 group-hover:text-white"
              fill="currentColor"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
          <a
            href={INSTAGRAM_URL}
            target="_blank"
            class="border-accent-400 group hover:bg-primary-500 hover:border-primary-500 rounded-full border p-2 duration-500"
          >
            <span class="sr-only">Instagram</span>
            <svg
              class="size-5 duration-500 group-hover:text-white"
              fill="currentColor"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>
      {
        navbarLinks.slice(1, 4).map((link) => (
          <div class="flex flex-col gap-3">
            <h3 class="font-bold">{link.name}</h3>
            <ul class="flex flex-col gap-2">
              {link.submenu.map((item) => (
                <li>
                  <a class="text-accent-500 duration-300" href={item.link}>
                    {item.name}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }

      <ul class="flex flex-col gap-1">
        <li class="mb-3 font-bold">Our Location</li>
        <li class="flex items-center gap-2">
          <FaPhone className="text-primary-500 size-4" />
          <a class="duration-300" href=`tel:${PHONE_NUMBER}`>{PHONE_NUMBER}</a>
        </li>
        <li class="flex gap-2">
          <IoLocationSharp className="text-primary-500 mt-1 size-4 shrink-0" />
          <a
            class="text-accent-500 duration-300"
            href="https://maps.app.goo.gl/YF28UuRdUhGqawzp7"
            target="_blank"
          >
            <p>{AIRPORT}</p>
            <p>{ADDRESS_LINE_1}</p>
            <p>{ADDRESS_LINE_2}</p>
          </a>
        </li>
      </ul>
    </div>
    <div
      class="flex flex-col items-center justify-between gap-5 border-t border-white/20 py-4 text-sm md:flex-row"
    >
      <p class="text-center font-semibold">
        &copy; Copyright {today.getFullYear()}
        <span>TruFlight Academy</span>.
        <a
          href="/privacy-policy"
          class="font-normal duration-300 hover:underline"
          >Privacy Policy and Terms of Service.</a
        >
      </p>
      <p>
        Powered by <a
          href="https://rightruddermarketing.com/"
          target="_blank"
          class="font-semibold duration-300 hover:underline"
          >More Right Rudder</a
        >
      </p>
    </div>
  </div>
</footer>
