---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import ImageComp from "../components/ImageComp.astro";

type Props = CollectionEntry<"blog">["data"] & {
  content?: string;
};

const { title, description, pubDate, heroImage } = Astro.props;
---

<article class="prose lg:prose-xl mx-auto max-w-3xl px-5 py-10 lg:py-20">
  <div class="flex">
    <ImageComp
      src={heroImage}
      alt={title}
      classes="object-cover w-full aspect-video rounded-2xl"
    />
  </div>
  <div class="title">
    <div class="date mb-5 text-2xl font-semibold tracking-wide text-gray-500">
      <FormattedDate date={pubDate} />
    </div>
    <h1>{title}</h1>
    <p class="text-gray-600">{description}</p>
  </div>
  <slot />
</article>
